* {
  margin: 0;
  box-sizing: border-box;
}
.slideshow-container {
  max-width: 1376px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 100%;
}

.next {
  right: 0;
  border-radius: 100%;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.bttn {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 2px;
  background-color: rgb(133, 119, 119);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.bttn:hover {
  background-color: #0e0d0d;
}
